config SHIELD_KEYCHRON_Z270_ANSI
    def_bool $(shields_list_contains,keychron_z270_ultra_ansi)
    select SHIELD_KEYCHRON_V1MAX
    select KEYCHRON_RGB_ENABLE
    select SNAP_CLICK_ENABLE
    select RETAIL_DEMO_ENABLE
    select ADD_PPT_REPORT_RATE
    select ENABLE_GPIO_LED
    select ENABLE_FLASH_PROTECT
    select ADAPATIVE_NKRO
