config SHIELD_KEYCHRON_K3SE2_ANSI
    def_bool $(shields_list_contains,keychron_k3se2_ansi)
    select SHIELD_KEYCHRON_V1MAX
    select ENABLE_GPIO_LED
    select MAC_VIA_FUNC
    select ADD_PPT_REPORT_RATE
    select COL_595_OUTPUT
    select ADAPATIVE_NKRO

