#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/led/led.h>
#include <zephyr/dt-bindings/gpio/realtek-rtl87x2g-gpio.h>


&gpioa {
    status = "okay";
};
&gpiob {
    status = "okay";
};
&usb {
    status = "okay";
};
// &timer2 {
//     status = "okay";
//     prescaler = <1>;
//     pwm2: pwm2 {
//         status = "disabled";// "okay";
//         pinctrl-0 = <&pwm2_default>;
//         pinctrl-names = "default";
//     };
// };
// &timer3 {
//     status = "okay";
//     prescaler = <1>;
//     pwm3: pwm3 {
//         status =  "disabled";//"okay";
//         pinctrl-0 = <&pwm3_default>;
//         pinctrl-names = "default";
//     };
// };

// &timer4 {
//     status = "okay";
//     prescaler = <1>;
//     pwm4: pwm4 {
//         // status =  "okay";
//         status =  "disabled";
//         pinctrl-0 = <&pwm4_default>;
//         pinctrl-1 = <&pwm4_sleep>;
//         pinctrl-names = "default","sleep";
//     };
// };
&timer2 {
    status = "okay";
    prescaler = <1>;
};
// &timer3 {
//     status = "okay";
//     prescaler = <1>;
// };
&timer8 {
    status = "okay";
};

&timer9 {
    status = "okay";
};

&corewdt {
    // status = "disabled";
    status = "okay";
    initial-timeout-ms = <5000>;
};
&aonwdt {
    // status = "okay";
    status = "disabled";
    initial-timeout-ms = <5000>;
};
/ {
    aliases {
        // watchdog = &aonwdt;
        watchdog = &corewdt;
    };

};

&adc {
    pinctrl-0 = <&adc_default>;
    pinctrl-1 = <&adc_sleep>;
    pinctrl-names = "default","sleep";
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";
    is-bypass-mode= <0x08>;
    channel@3 {
        reg = <3>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};
/ {

    chosen {
        zmk,physical-layout = &physical_layout0;
        zmk,battery = &vbatt;
        //zmk,backlight = &backlight;
    };
    kscan_comp: kscan {
        compatible = "zmk,kscan-composite";
        rows = <7>;
        columns = <19>;
        // Include the direct GPIO driver...
        // make sure direct init first!
        direct {
            kscan = <&kscan1>;
            row-offset = <6>; // ...and shift it to not overlap
        };
        // Include the matrix driver
        matrix {
            kscan = <&kscan0>;
            // kscan = <&kscan>;
        };


        // status = "disabled";
    };
    kscan0: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";

        diode-direction = "col2row"; //col output ,row input.
        debounce-scan-period-ms =<1>;
        debounce-press-ms =<0>;
        debounce-release-ms=<50>;

        row-gpios
             = <&gpiob 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>    //r0 P3_7
            , <&gpiob 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>    //r1 P3_6
            , <&gpiob 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>    //r2 P3_5
            , <&gpiob 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>    //r3 P3_4
            , <&gpiob 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>    //r4 P3_3
            , <&gpiob 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>   //r5 P5_6
            ;
        col-gpios
            = <&gpiob 21  (GPIO_ACTIVE_HIGH)>  //c0 P9_0  595 DATA
            , <&gpioa 5  (GPIO_ACTIVE_HIGH)>  //c1 P0_5   595 RCK
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c2 P0_6   595 CLK
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c3 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c4 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c5 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c6 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c7 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c8 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c9 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c10 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c11 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c12 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c13 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c14 P0_6
            , <&gpioa 6  (GPIO_ACTIVE_HIGH)>  //c15 P0_6
            ;
        pinctrl-0 = <&gpio_default>;
        pinctrl-1 = <&gpio_sleep>;
        pinctrl-names = "default","sleep";

        // status ="disabled";
    };
    kscan1:kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios =
          <&gpioa  4  (GPIO_ACTIVE_LOW )>  //mac/win   //P0_4
        , <&gpioa 18  (GPIO_ACTIVE_LOW )>  //24g     //32k_xo
        , <&gpioa 17  (GPIO_ACTIVE_LOW )>  //bt      //32k_xi

        , <&gpioa 10  (GPIO_ACTIVE_LOW )>  //usb det   //P1_2
        , <&gpiob 22  (GPIO_ACTIVE_LOW )>    //charging  //P9_1
        ;
        // toggle-mode;
        debounce-scan-period-ms=<20>;
        debounce-release-ms=<20>;
        pinctrl-0 = <&gpio_direct_default>;
        pinctrl-1 = <&gpio_direct_sleep>;
        pinctrl-names = "default","sleep";
    };
    // mode_monitor: mode_monitor {
    //     compatible = "zmk,mode-monitor-pin";
    //     ble-gpios = <&gpioa 9 (GPIO_ACTIVE_HIGH )>;
    //     ppt-gpios = <&gpioa 8 (GPIO_ACTIVE_HIGH )>;
    //     detect-usb-gpios = <&gpioa 24 (GPIO_ACTIVE_HIGH )>;
    //     win2mac-gpios = <&gpioa 31 (GPIO_ACTIVE_HIGH )>;
    // };
    vbatt: vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 3>;
        output-ohms = <220000>;
        full-ohms = <(1000000 + 220000)>;
    };

    led_caps: led_caps{
        compatible = "gpio-leds";
        led1 {
            gpios = <&gpiob 20 GPIO_ACTIVE_LOW>;  //p5_7
        };

    };
    led_ble0: led_ble0{
        compatible = "gpio-leds";
        led2 {
            gpios = <&gpiob 8 GPIO_ACTIVE_LOW>;  //bt1 p4_3
        };
    };
    led_ble1: led_ble1{
        compatible = "gpio-leds";
        led2 {
            gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;  //bt2 p4_2
        };
    };
    led_ble2: led_ble2{
        compatible = "gpio-leds";
        led2 {
            gpios = <&gpiob 6 GPIO_ACTIVE_LOW>;  //bt3 p4_1
        };
    };

    led_ppt:led_ppt {
        compatible = "gpio-leds";
        led5 {
            gpios = <&gpiob 5 GPIO_ACTIVE_LOW>;  //ppt p4_0
        };

    };
    // led_red:led_red {
    //     compatible = "gpio-leds";
    //     led6 {
    //         gpios = <&gpioa 25 GPIO_ACTIVE_HIGH>;  //charge p2_4
    //     };

    // };
    led_red:led_red {
        compatible = "gpio-leds";
        led7 {
            gpios = <&gpioa 31 GPIO_ACTIVE_LOW>;  //lowpower p3_2
        };

    };
    hc_595 {
        compatible = "gpio-leds";
        clk_595: clk_595 {
            gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;  //clk p0_6
        };
        data_595: data_595 {
            gpios = <&gpiob 21 GPIO_ACTIVE_HIGH>;  //data p9_0
        };
        rclk_595: rclk_595 {
            gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;  //rclk p0_5
        };
    };

    gpio_ctrls {
        compatible = "gpio-leds";
        // red_led: led_0 {
        //     gpios = <&gpioa 25 GPIO_ACTIVE_HIGH>;  //charge p2_4
        // };
        // win_led: led_1 {
        //     gpios = <&gpioa 27 GPIO_ACTIVE_HIGH>;  //winlock p2_6
        // };

        usb_det: usb_det {
            gpios =<&gpioa 10 GPIO_ACTIVE_LOW>; //usb det   //P1_2
        };
        pwr_ctrl:pwr_ctrl {
            gpios =<&gpioa 16 GPIO_ACTIVE_HIGH>; //led ctrl micbias
        };

    };
    // lcd_ctrls{
    //     compatible = "gpio-leds";
    //     status ="okay";
    //     power:pwr_ctrl{
    //         gpios= <&gpioa 9 GPIO_ACTIVE_HIGH>;  //p1_1
    //     };
    //     reset:res_ctrl{
    //         gpios= <&gpioa 10 GPIO_ACTIVE_LOW>;  //p1_2
    //     };
    // };


    ppt: ppt {
        compatible = "zmk,ppt-node";
        enh-timers = <&timer8 &timer9>;
        status = "okay";
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        transform = <&default_transform>;
        kscan = <&kscan_comp>;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <7>;
        columns = <16>;
        map = <
            //esc        //f1        //f2       //f3          //f4       //f5       //f6        //f7        //f8          //f9        //f10       //f11       //f12        //ins         //prn       //del
            RC(0,0)     RC(0,1)     RC(0,2)     RC(0,3)    RC(0,4)     RC(0,5)     RC(0,6)      RC(0,7)     RC(0,8)     RC(0,9)    RC(0,10)      RC(0,11)    RC(0,12)     RC(0,13)       RC(0,14)    RC(0,15)
             //grave      //1        //2         //3       //4         //5         //6         //7         //8         //9         //0           //-          //+=       //back                       //pgup
            RC(1,0)     RC(1,1)     RC(1,2)     RC(1,3)    RC(1,4)     RC(1,5)     RC(1,6)     RC(1,7)     RC(1,8)     RC(1,9)     RC(1,10)     RC(1,11)     RC(1,12)    RC(1,13)                    RC(1,15)

            RC(2,0)     RC(2,1)     RC(2,2)     RC(2,3)    RC(2,4)     RC(2,5)     RC(2,6)     RC(2,7)     RC(2,8)     RC(2,9)     RC(2,10)     RC(2,11)     RC(2,12)    RC(2,13)                    RC(2,15)
            //cap        //a         //s         //d        //f         //g         //h          //j        //k         //l         // ;         //' "        //enter
            RC(3,0)     RC(3,1)     RC(3,2)     RC(3,3)    RC(3,4)     RC(3,5)     RC(3,6)     RC(3,7)     RC(3,8)     RC(3,9)     RC(3,10)     RC(3,11)     RC(3,12)                                RC(3,15)
             //lshit                 //z         //x         //c        //v         //b        //n         //m          //,<         //.>        // ?         //rshit                     //up         //end
            RC(4,0)                 RC(4,2)     RC(4,3)    RC(4,4)     RC(4,5)     RC(4,6)     RC(4,7)     RC(4,8)     RC(4,9)     RC(4,10)     RC(4,11)     RC(4,12)                    RC(4,14)    RC(4,15)
            //lctrl     //win l      //alt l                                        //space                                         //alt r       //fn        //ctrl        //left       //down      //right
            RC(5,0)     RC(5,1)     RC(5,2)                                        RC(5,6)                                         RC(5, 10)    RC(5,11)      RC(5,12)    RC(5,13)       RC(5,14)     RC(5,15)
            //mac        //bt        //24g        //usb     //ch
            RC(6,0)     RC(6,1)     RC(6,2)     RC(6,3)     RC(6,4)
        >;
    };


    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        status = "okay";
        sensors = <&aon_qdec>;
        triggers-per-rotation = <20>;
    };
 };

&kscan {
    pinctrl-0 = <&kscan_default>;
    pinctrl-1 = <&kscan_sleep>;
    pinctrl-names = "default", "sleep";
    row-size = <6>;
    col-size = <16>;
    debounce-time-us = <0>;
    scan-time-us =  <0>;
    release-time-us = <10000>;
    scan-debounce-cnt = <1>;
    status = "disabled";
    // status = "okay";
};

&pinctrl {
    adc_default: adc_default {
        group1 {
             psels = <RTL87X2G_PSEL(SW_MODE, P2_3, DIR_IN, DRV_LOW, PULL_NONE)>;
        };
    };

    adc_sleep: adc_sleep {
        group1 {
             psels = <RTL87X2G_PSEL(SW_MODE, P2_3, DIR_IN, DRV_LOW, PULL_DOWN)>;
        };
    };
    kscan_default: kscan_default {
        group1 {
            psels =
            <RTL87X2G_PSEL(KEY_COL_0, P9_3, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_1, P9_4, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_2, P9_5, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_3, P9_6, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_4, P9_7, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_5, P10_0, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_6, P3_7, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_7, P3_6, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_8, P3_5, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_9, P3_4, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_10, P3_3, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_11, P4_1, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_12, P6_4, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_13, P6_3, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_14, P6_2, DIR_OUT, DRV_LOW, PULL_NONE)>,
            <RTL87X2G_PSEL(KEY_COL_15, P6_1, DIR_OUT, DRV_LOW, PULL_NONE)>;

        };
        group2 {
            psels =
            <RTL87X2G_PSEL(KEY_ROW_0, P1_5, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_1, P1_7, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_2, P0_0, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_3, P0_1, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_4, P0_2, DIR_IN, DRV_LOW, PULL_UP)>,
            <RTL87X2G_PSEL(KEY_ROW_5, P0_4, DIR_IN, DRV_LOW, PULL_UP)>;

            bias-pull-strong;
        };

    };
    kscan_sleep: kscan_sleep {
        group1 {
            psels =
            <RTL87X2G_PSEL(SW_MODE, P9_3, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P9_4, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P9_5, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P9_6, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P9_7, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P10_0, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P3_7, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P3_6, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P3_5, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P3_4, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P3_3, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P4_1, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P6_4, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P6_3, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P6_2, DIR_OUT, DRV_LOW, PULL_DOWN)>,
            <RTL87X2G_PSEL(SW_MODE, P6_1, DIR_OUT, DRV_LOW, PULL_DOWN)>;

        };
        group2 {
            psels =
            <RTL87X2G_PSEL(SW_MODE, P1_5, DIR_IN, DRV_HIGH, PULL_UP)>,
            <RTL87X2G_PSEL(SW_MODE, P1_7, DIR_IN, DRV_HIGH, PULL_UP)>,
            <RTL87X2G_PSEL(SW_MODE, P0_0, DIR_IN, DRV_HIGH, PULL_UP)>,
            <RTL87X2G_PSEL(SW_MODE, P0_1, DIR_IN, DRV_HIGH, PULL_UP)>,
            <RTL87X2G_PSEL(SW_MODE, P0_2, DIR_IN, DRV_HIGH, PULL_UP)>,
            <RTL87X2G_PSEL(SW_MODE, P0_4, DIR_IN, DRV_HIGH, PULL_UP)>;

            bias-pull-strong;
            wakeup-low;
        };
    };


    uart2_default: uart2_default {
        group1 {
            psels = <RTL87X2G_PSEL(UART2_TX, P3_0, DIR_OUT, DRV_HIGH, PULL_UP)>,
            <RTL87X2G_PSEL(UART2_RX, P3_1, DIR_IN, DRV_HIGH, PULL_UP)>;
        };
    };
    uart2_sleep: uart2_sleep {
        group1 {
            psels = <RTL87X2G_PSEL(SW_MODE, P3_0, DIR_IN, DRV_HIGH, PULL_UP)>,
            <RTL87X2G_PSEL(SW_MODE, P3_1, DIR_IN, DRV_HIGH, PULL_UP)>;
        };
    };
    gpio_default: gpio_default {
        group1 {
            psels =
             <RTL87X2G_PSEL(DWGPIO, P3_7, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(DWGPIO, P3_6, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(DWGPIO, P3_5, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(DWGPIO, P3_4, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(DWGPIO, P3_3, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(DWGPIO, P5_6, DIR_IN, DRV_HIGH, PULL_UP)>;
             bias-pull-strong;
        };
        group2 {
            psels =
             <RTL87X2G_PSEL(DWGPIO, P9_0, DIR_OUT, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(DWGPIO, P0_5, DIR_OUT, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(DWGPIO, P0_6, DIR_OUT, DRV_HIGH, PULL_UP)>;
        };

    };
    gpio_sleep: gpio_sleep {
        group1 {
            psels =
             <RTL87X2G_PSEL(SW_MODE, P3_7, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(SW_MODE, P3_6, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(SW_MODE, P3_5, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(SW_MODE, P3_4, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(SW_MODE, P3_3, DIR_IN, DRV_HIGH, PULL_UP)>,
             <RTL87X2G_PSEL(SW_MODE, P5_6, DIR_IN, DRV_HIGH, PULL_UP)>;
             bias-pull-strong;
             wakeup-low;
        };
        group2 {
            psels =
             <RTL87X2G_PSEL(SW_MODE, P9_0, DIR_OUT, DRV_LOW, PULL_DOWN)>,
             <RTL87X2G_PSEL(SW_MODE, P0_5, DIR_OUT, DRV_LOW, PULL_DOWN)>,
             <RTL87X2G_PSEL(SW_MODE, P0_6, DIR_OUT, DRV_LOW, PULL_DOWN)>;

        };

    };
    qdec_default: qdec_default {
        group1 {
            psels = <RTL87X2G_PSEL(QDPH0_IN_P9_0_P9_1, P9_0, DIR_IN, DRV_LOW, PULL_UP)>,
             <RTL87X2G_PSEL(QDPH0_IN_P9_0_P9_1, P9_1, DIR_IN, DRV_LOW, PULL_UP)>;
             wakeup-low;
        };
    };
    qdec_sleep: qdec_sleep {
        group1 {
            psels = <RTL87X2G_PSEL(SW_MODE, P9_0, DIR_IN, DRV_HIGH, PULL_NONE)>,
             <RTL87X2G_PSEL(SW_MODE, P9_1, DIR_IN, DRV_HIGH, PULL_NONE)>;

        };
    };
    gpio_direct_default:gpio_direct_default{
        group1 {
            psels =
            <RTL87X2G_PSEL(DWGPIO, P0_4, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(DWGPIO, XO32K, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(DWGPIO, XI32K, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(DWGPIO, P1_2, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(DWGPIO, P9_1, DIR_IN, DRV_HIGH, PULL_UP)>;//charge pin leak current ,has to pull up！
        };
    };
    gpio_direct_sleep:gpio_direct_sleep{
        group1 {
            psels =
             <RTL87X2G_PSEL(SW_MODE, P0_4, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(SW_MODE, XO32K, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(SW_MODE, XI32K, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(SW_MODE, P1_2, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(SW_MODE, P9_1, DIR_IN, DRV_HIGH, PULL_UP)>;//charge pin leak current ,has to pull up！
            //  bias-pull-strong;
        };
    };

    i2c_default: i2c_default {
        group1 {
            psels =
            <RTL87X2G_PSEL(I2C0_CLK, P2_7, DIR_OUT, DRV_HIGH, PULL_UP)>,
            <RTL87X2G_PSEL(I2C0_DAT, P2_6, DIR_OUT, DRV_HIGH, PULL_UP)>;
        };
    };
    i2c_sleep: i2c_sleep {
        group1 {
            psels =
            <RTL87X2G_PSEL(SW_MODE, P2_6, DIR_IN, DRV_HIGH, PULL_NONE)>,
            <RTL87X2G_PSEL(SW_MODE, P2_7, DIR_IN, DRV_HIGH, PULL_NONE)>;
        };
    };
};

&aon_qdec {
    // status = "okay";
    status = "disabled";
    pinctrl-0 = <&qdec_default>;
    pinctrl-1 = <&qdec_sleep>;
    pinctrl-names = "default","sleep";
    counts-per-revolution =<4>;
};

// &uart2 {
//  status = "disabled";
// };

// &i2c0 {
//     status = "okay";
//     clock-frequency = < 400000 >;
//     pinctrl-0 = <&i2c_default>;
//     pinctrl-1 = <&i2c_sleep>;
//     pinctrl-names = "default","sleep";
// };