config SHIELD_KEYCHRON_V1_ULTRA_ANSI
    def_bool $(shields_list_contains,keychron_v1_ultra_ansi)
    select SHIELD_KEYCHRON_V1MAX
    select KEYCHRON_RGB_ENABLE
    select SNAP_CLICK_ENABLE
    select RETAIL_DEMO_ENABLE
    # select FAST_KSCAN
    select ADD_PPT_REPORT_RATE
    select ENABLE_GPIO_LED
    select ENABLE_FLASH_PROTECT
    select ADAPATIVE_NKRO
